@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  box-sizing: border-box;
  background: linear-gradient(180deg, rgba(49, 53, 56, 0.78) 0%, #151515 45%);
  
}

.loader {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
  border-top: 6px solid #FFF;
  border-right: 6px solid transparent;
  box-sizing: border-box;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
